.footer {
  margin: auto;
  /* margin-bottom: 0.8rem; */
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footerItem {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footerBorder {
  border-top: 1px solid var(--blue);
  width: 100%;
  position: absolute;
  bottom: 8rem;
  left: 0;
}

/* .button {
  margin-right: 20px;
}

.button:last-child {
  margin-right: 0;
} */
