:root {
  --white: white;
  --light: #ffffffb0;
  --gold-yellow: #ffd900;
  --gold-light: #cfb53b;
  --gold-dark: #b8860b;
  --blue: #1976d2;
  --grey: rgb(87, 87, 87);
  --grey-light: rgb(190, 190, 190);
}

#root {
  position: relative;
  margin: auto;
  margin-block-start: 50vh;
  transform: translateY(-50%);
}

body {
  margin: auto;
  background: var(--light);
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
